html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
  margin-left: 0px;
}
#upper-background {
  background-image: url("./images/glasses-bg.png");
  height: 35rem;
  background-repeat: repeat-x;
  background-size: cover;
  padding-top: 1rem;
}
#header-whole {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  width: 960px;
  margin: 0px auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#header-text {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0px auto;
  align-items: center;
  padding-right: 2rem;
}
#left-side {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
nav {
  padding-right: 1rem;
}
#left-side img {
  height: 1.5rem;
  padding-right: 1rem;
}
header ul li {
 display: inline;
 font-size: 1.5rem;
 padding-left: 1rem;
 padding-right: 1rem;
}
#menu-button {
  display: none;
}
#background-text-container {
  display: flex;
  width: 960px;
  justify-content: flex-end;
  margin: 0px auto;
}
#text-container {
  background-color: white;
  width: 33rem;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 10rem;
}
#text-container h1 {
  font-weight: bold;
  font-size: 2rem;
}
#paper {
  width: 5.5rem;
}
#ruler {
  width: 6.5rem;
}
#icons-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
#exam-icon, #fittings-icon, #delivery-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
#philosophy-appointments-container {
  display: flex;
  width: 960px;
  margin: 0px auto;
  padding-top: 3rem;
}
#philosophy-container {
width: 35%;
padding-right: 5%;
}
#appointements-container {
width: 35%;
}
.blue-buttons {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-weight: bold;
  padding-left: 1.25rem;
}
#philosophy-appointments-container p {
  font-weight: bold;
}
footer {
  background-color: azure;
  width: 960px;
  margin: 0px auto;
  height: 9rem;
  margin-top: 3rem;
  display: flex;
}
#footer-content {
  display: flex;
  justify-content: flex-start;
  width: 960px;
  margin: 0px auto;
  align-items: center;
  padding-right: 2rem;
}
footer img {
  height: 1.5rem;
  position: relative;
  left: 4rem;
}
#image {
  padding-right: 5rem;
}
@media only screen and (max-width:1024px) {
  #upper-background {
    padding-top: 0px;
    height: 22rem;
  }
  #header-whole {
    width: 100%;
  }
  #text-container {
    margin-right: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1.33rem;
    width: auto;
  }
  #text-container h1 {
    font-size: 1.33rem;
  }
  #background-text-container {
    width: 100%;
  }
  #philosophy-appointments-container {
    width: 100%;
    justify-content: center;
  }
  #icons-container {
    width: 100%;
    justify-content: center;
  }
  #header-text {
    width: 100%;
  }
}
@media only screen and (max-width:750px) {
  #header-text li {
    display: none;
  }
  #menu-button {
    display: inline !important;
  }
  #left-side h2 {
    display: none;
  }
  #text-container {
    width: 100%;
    margin-right: 0;
  }
  #upper-background {
    height: 18rem;
    background-position: 20%;
  }
  #background-text-container {
    width: 100%;
  }
  #icons-container {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 3.77rem;
  }
   #fittings-icon, #delivery-icon {
    padding-top: 2rem;
  }
  #icons-container h3 {
    font-size: .77rem;
    padding-top: 1rem;
    line-height: 1.2rem;
  }
  #philosophy-appointments-container {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  #philosophy-container, #appointements-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .blue-buttons {
    width: 100%;
    text-align: center;
  }
  #philosophy-container p {
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-weight: normal;
    margin-left: .5rem;
    margin-right: .5rem;
  }
  #appointements-container p {
    padding-top: 1rem;
    font-weight: normal;
    margin-left: .5rem;
    margin-right: .5rem;
  }
  #copyright {
    display: none;
  }
  footer {
    width: 100%;
  }
#footer-content {
  width: 100%;
  justify-content: center;
  margin: 0px auto;
}
}
